<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Astronomy And Other Stuff</title>
        <link href="{{ url_for('static', filename='Solar-System.css') }}" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Orbitron&display=swap" rel="stylesheet" type="text/css">        
    </head>
    <body>
        <h1>Artif'Blog</h1>
        <h2>This blog consists of all things from sub-atomic particles, chemical reactions, to gravity. </h2>
        <section>
            <figure>
                <img class="ssfit" src="{{ url_for('static', filename='solar_system_orbital_dark.png') }}" alt="solar-system">
                <figcaption>'This representation of the solar system is only for aesthetic. Of course if was structured this way, well needless to say it would'nt be for very long.'</figcaption>
            </figure>
        </section>
        <section>
            <h2>'Make sure to bring your brain and heart with your stomach wherever you go.' ~ #42</h2>
            <p>As life began on this planet or as some would say hell, we began our long journey as hungry little stomachs upgrading the way that we eat</p>
        </section>
    </body>
    </html>